body {
	background-image: url("../images/watercolor.png");
}

#big-container {
	overflow: auto;
	margin: auto;
	margin-top: 25px;
	max-width: 960px;
	padding-bottom: 60px;
	padding-top: 15px;
	border-radius: 25px;
	background-image: url("../images/watercolor2.png");


}
#title-box {
	color: #6422d6;
	padding: 15px;
	}

#crystal-box {
	width: 650px;
	background-color: #FFBFEF;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-radius: 25px;
	overflow: auto;
}

.crystal {
	max-height: 125px;
	max-width: 125px;
	background-color: #FFBFEF;
}

#crysthree {
	margin-left: 20px;
}

#crysfour {
	margin-left: 35px;
	padding-right: 25px;
}

#score-box {
	max-width: 200px;
	margin-right: 15px;
	color: #6422d6;
	background-color: #FFBFEF;
	border-radius: 25px;
	text-align: center;

}

#goal-box {
	max-width: 200px;
	margin-left: 15px;
	color: #6422d6;
	background-color: #FFBFEF;
	border-radius: 25px;
	text-align: center;
}
#record-box {
	color: #6422d6;
	background-color: #FFBFEF;
	max-width: 200px;
	margin-top: 20px;
	padding: 15px;
	border-radius: 25px;
}

h2,
#score,
#goal	{
	font-size: 35px;
}
h3 {
	text-align: center;
}

p {
	font-size: 28px;
	padding: 1px;
}

#directions	{

	margin-left: 240px;
	color: #FFBFEF;
}





